.logWindow{
    width: 325px;
    height: 425px;
    background-color: rgb(28,34,39);
    border: 1px solid rgb(87,87,87);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.allStuffForLoginWindow{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1px;
    flex-direction: column;
    padding-top: 3px;
    justify-content: flex-start;
    align-items: center;
}
.allStuffForLoginWindow span{
    font-size: 35px;
    margin: 5px;
    margin-bottom: 55px;
    color: aliceblue;
}
.loginForm label{
    font-size: 20px;
    height: 15px;
    margin: 2.5px;
    color: aliceblue;
}
.loginForm input{
    width: 100%;
    margin-bottom: 15px;
}
.buttonsForLogForm{
    width: 50%;
    height: auto;
    margin-top: 10px;
}
.buttonsForLogForm button{
    width: 100%;
    height: 35%;
    background-color: rgb(87, 87, 87);
    color: white;
    cursor: pointer;
}
.buttonsForLogForm button:active{
    border: 1px solid rgb(87, 87, 87);
    background-color: black;
}
.buttonsForLogForm button:first-of-type{
    margin-top: 40px;
}
.buttonsForLogForm button:last-of-type{
    margin-top: 10px;
}