<h1>{{{title}}}</h1>

<body>
    {{{body}}}
</body>
{{!
<style>
    h1{
        font-size: medium;
    }
    html,body{
        padding: 0;
        margin: 0;
        height: 97.3%;
        width: 100%;
        background-color: rgb(18, 18, 18);
    }
</style>
}}