<div class="content">
    <a href="/">Back to the hell</a>
</div>

<script src="../scripts/sp.js"></script>
<style>
    .content a{
        width: 10%;
        height: 10%;
        text-decoration:underline;
    }
</style>