<div class="content">

    <form action="/admin-login" method="post" autocomplete="off">
        <input type="text" name="username" placeholder="Username" required autocomplete="off">
        <input type="password" name="password" placeholder="Password" required autocomplete="off">
        <button type="submit">Enter</button>
    </form>

    <a href="/">Back to the hell</a>
</div>

<script src="../scripts/sp.js"></script>

<style>
    .content{
        display: flex;
        flex-direction: column;
    }
    .content form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .content input{
        height: 25px;
    }
    .content a{
        width: 10%;
        height: 10%;
        text-decoration:underline;
    }
    .content button{
        background-color: rgb(28,34,39);
        border-radius: 5px;
        padding: 5px;
        border: 1px solid rgb(87,87,87);
    }
</style>
