<nav>
    <div class="home">
    <a href="/">Homepage</a>
    <a href="/regPage">Registration</a>
    <a href="/logpage">Login</a>
    </div>
</nav>
{{!<style>
    .home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    *{
    box-sizing: border-box;
}
    html,body{
    padding: 0;
    margin: 0;
    height: 97.3%;
    width: 100%;
    background-color: rgb(18, 18, 18);
    }
    .topPageHeader{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(87,87,87);
    }
    span{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    a{
    text-decoration: none;
    color: white;
    }
}
</style>}}